<div class="container-child">

  <mat-toolbar color="accent">
    <mat-toolbar-row class="toolbar-list">
      <span class="span-toolbar-list">Client Form</span>
      <span class="spacer-toolbar-list"></span>
      <div class="header-add-btn">
        <button (click)="back()" mat-raised-button>Back</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="container-below">
    <mat-card class="mat-elevation-z4">
      <mat-card-content>
        <form class="form" [formGroup]="form">

          <mat-form-field class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <input matInput name="name" formControlName="name" required
              placeholder="name" maxlength="50">
            <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
              <mat-error *ngIf="name.hasError('required')">
                name is required
              </mat-error>
              <mat-error
                *ngIf="!name.hasError('required') && name.hasError('minlength')">
                name min length is 3.
              </mat-error>
            </mat-error>
          </mat-form-field>

          <div formArrayName="emails" class="row" *ngFor="let item of emails.controls; let i = index;">
            <div [formGroupName]="i" class="row">
              <mat-form-field class="">
                <input #inputArray matInput name="email" formControlName="email" required
                  placeholder="{{ 'Email ' + (i + 1)}}" maxlength="50">
                <button mat-icon-button matSuffix (click)="removeItem(i)"
                  matTooltip="Remove">
                  <mat-icon>delete</mat-icon>
                </button>

                <mat-error *ngIf="hasErrorArrayGroup(i)">
                  <mat-error *ngIf="hasErrorRequired(i)">
                    Emails is required
                  </mat-error>
                </mat-error>

              </mat-form-field>
            </div>
          </div>

          <button mat-icon-button matSuffix (click)="addItem()"
            matTooltip="Add">
            <mat-icon>add_new</mat-icon>
            new email
          </button>

        </form>
      </mat-card-content>

      <mat-card-actions class="row card-actions">
        <button class="float-rigth-lg float-rigth-md btn-save-or-update" mat-raised-button
          [disabled]="!form.valid || isSaving" (click)="saveOrUpdate()">
          {{ (edit ? 'Update' : 'Save') }}
        </button>
        <button class="float-rigth-lg float-rigth-md btn-cancel" mat-raised-button (click)="back()">
          Cancel
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
